.social {
  width: 30px;
  padding-left: 6px;
}

.social-wrapper {
  display: flex;
}

.likes {
  display: flex;
  padding-left: 6px;
  font-size: 18px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 6px;
  text-align: left;
}

.comment {
  padding: 0;
  margin: 0 0;
}

.commentInput {
  margin-top: 14px;
  border: none;
  border-top: 1px solid lightgray;
  padding: 6px;
  width: 100%;
}

.red-bg {
  color: red;
  font-size: 30px;
}

.far.fa-comment {
  font-size: 30px;
}
